{{/* Included at the top of the body of all pages. */}}
<header>
  <h1>{{ .Site.Title }}</h1>
  <a href='mailto:mail@ar.al'><img class='email' src='/icons/email.svg' alt='Email Aral' title='Email me'></a>
  <a href='https://mastodon.ar.al'><img class='mastodon' src='/icons/mastodon.svg' alt='Mastodon icon' title='Follow me on Mastodon'></a>
  <a href='/index.xml' rel='alternate' type='application/rss+xml'><img class='rss' src='/icons/feed.svg' alt='RSS feed icon' title='Subscribe to my RSS feed'></a>
  <a href='dat://ar.al'><img class='p2p' src='/icons/mesh.svg' alt='P2P network icon' title='View Peer Web (DAT) version'></a>
</header>
