{{/* Common elements for the top of the head tag on all pages. */}}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title>{{ .Page.Title }}{{ if ne .IsHome true }} – {{ .Site.Title }}{{ end }}</title>

<!-- Style sheets -->
<link rel='stylesheet' href='/css/browser.css'>
<link rel='stylesheet' href='/css/terminal.css'>
<link rel='stylesheet' href='/style.css'>

<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" href="https://ar.al/index.xml" />

<!-- Open graph -->
{{ template "_internal/opengraph.html" . }}
