{{/* Included at the top of the body on all but the index page. */}}
<header class='inner-page'>
  <h1>Aral Balkan</h1>
  <a href='mailto:mail@ar.al'><img class='email' src='/icons/email.svg' alt='Email Aral'></a>
  <a href='https://mastodon.ar.al'><img class='mastodon' src='/icons/mastodon.svg' alt='Aral’s Mastodon'></a>
  <a href='index.xml'><img class='rss' src='/icons/rss.svg' alt='RSS feed'></a>
  <a href='dat://live.ar.al'><img class='p2p' src='/icons/mesh.svg' alt='Peer Web (DAT) version'></a>
</header>
<nav><a href='/'>Home</a></nav>
