{{/* Used to render the list of posts on the index page. */}}
<!doctype html>
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel='stylesheet' href='/index.css'>
  </head>
  <body>
    {{ partial "header.html" . }}

    {{ .Content }}

    <!-- Group by year. -->
    {{ range .Data.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>

      <!-- Group by month. -->
      {{ range .Pages.GroupByDate "January" }}
      <h3>{{ .Key }}</h3>

        <!-- Orders content according to the "date" field in front matter. -->
        {{ range .Pages.GroupByDate "02" }}
        <h4 class='postdate date'>{{ .Key }}</h4>
        <ul> 
          {{ range $index, $post := .Pages }}
            <li>
              <time datetime="{{ $post.Date.Format "2006-01-02T15:04:05Z0700" }}">
                <span class='postdate day item-{{ $index }}'>{{ $post.Date.Format "Mon" }}</span>
              </time>
              <span class='postdate'>{{ $post.Date.Format "15:04" }}</span>
              <a href="{{ .RelPermalink }}">{{ $post.Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  {{ end }}

  <section class='earlier-posts'>
    <h3>Pre-June</h3>
    <p>For earlier posts, please see <a href='https://2018.ar.al'>the previous version of this site.</a></p>
    
    <p>(Older links will continue to work. Please don’t break the Web, use the <a href='https://4042302.org'>404→302</a> technique like I do here to properly forward your existing links when you update the URL structure of your site.)</p>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
