{{/* Used to render the list of posts on the index page. */}}
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel='stylesheet' href='/index.css'>
  </head>
  <body>
    <header>
      <h1>{{ .Site.Title }}</h1>
    </header>

    {{ .Content }}

    <!-- Group by year. -->
    {{ range .Data.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>

      <!-- Group by month. -->
      {{ range .Pages.GroupByDate "January" }}
      <h3>{{ .Key }}</h3>

        <ul>
          <!-- orders content according to the "publishdate" field in front matter -->
          {{ range .Pages }}
              <li>
                <time>
                  <span class='date'>{{ .Date.Format "02" }}</span>
                  <span class='day'>{{ .Date.Format "Mon 15:04" }}</span>
                </time>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
          {{ end }}
        </ul>
    
    {{ end }}
  {{ end }}

  <p>For earlier posts, please see <a href='https://ar.al'>the previous version of this site.</a></p>

  {{ partial "footer.html" . }}
  </body>
</html>
