<style>
  #fund-us {
    display: block;
    background-color: #AFE1E8;
    color: #154652;
    margin-top: 2rem;
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
  }
</style>
<div id='fund-us'>
  <h2>Like this? Fund us!</h2>
  <p>Small Technology Foundation is a tiny, independent not-for-profit.</p>
  <p>We exist in part thanks to patronage by people like you. If you share <a href='https://small-tech.org/about#small-technology'>our vision</a> and want to support our work, please <a href='https://small-tech.org/fund-us'>become a patron or donate to us</a> today and help us continue to exist.</p>
</div>
