<style>
  #note-for-non-coders {
    display: block;
    background-color: #AFE1E8;
    color: #154652;
    font-size: 0.9em;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
  }
</style>
<div id='note-for-non-coders'>
  <strong>A note for non-programmers:</strong> The code listings on my blog use a font that applies ligatures to certain operators to render them in a more typographically-pleasing manner. However, this may confuse beginners who are not familiar with how to type these operators. To enter the strict equality operator (<code>===</code>), use three equals signs (===). Similarly, to enter the strict inequality operator (<code>!==</code>) – which, contrary to how it sounds, isn’t the logo for your local conservative party – type an exclamation mark followed by two equals signs (!==). Finally, to create an arrow function expression (<code>=></code>), enter an equals sign followed by a greater-than sign (=>).
</div>
